.special-header{}
div.special-header {
    background-color: gray;
    height: 0px;
}
.special-header .card{
    border: none;
    padding: 0px;
    margin: 0px;
    height: 0px;
}
.special-header .card .card-block{
    padding: 0px;
    height: 0px;
    margin: 0px;
}
.special-header .card .card-block .row{
    padding: 0px;
}
.fixed-header .card-block{
    min-height: 81px;
    max-height: 81px;
    height: 81px;
    padding: 8px;
}
.fixed-header .row{
    padding-top: 0px;
    font-size: 14px;
}
.fixed-header{
    position: fixed;
}