<div *ngIf="specialSource != false" style=" z-index: 100" [ngStyle]="style" [ngClass]="class">
    <div class="card">
        <div class="card-block">
            <div *ngIf="length(datasource['domain'].item['special']) > 0" class="row">
                <div class="col-md-2">Project: {{extractDomain(datasource['domain'].item['value'])}}</div>
                <div class="col-md-2">URL: {{getLocation(datasource['domain'].item['value']).pathname}}</div>
                <div class="col-md-2">Keyword: {{datasource['keyword'].item['value']}}</div>
                <div class="col-md-2">
                    Links: {{datasource['domain'].item['count']}}
                    <br>
                    Cost: ${{datasource['domain'].item['sum'] | numeric:{type: 'decimal', value: 2} }}
                </div>
                <div class="col-md-4" *ngIf="defined(extended) && defined(extended['selected'])">
                    Selected links: {{extended['selected']}} for <a href="">${{extended['sum'] | numeric:{type: 'decimal', value: 2} }}</a>
                </div>
            </div>
        </div>
    </div>
</div>