<div *ngIf="type == 'select_dropdown' || type == 'select_dropdown_group' || type == 'select_dropdown_single'"
     class="dropdown" [class.open]="is_open">
    <button
            class="btn btn-secondary dropdown-toggle button-dropdown button-line"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="toggle_dropdown()"
            [disabled]="disabled"
    >
        {{placeholder}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="overflow: auto;max-height: 457px;">
        <div *ngFor="let item of valueSelector;">
            <div *ngIf="type == 'select_dropdown_group'">
                <a class="dropdown-item" href="javascript:void(0);" (click)="click_item($event, item)">
                    <span>{{item.name}}</span>
                </a>
                <div *ngIf="isArray(item.value)">
                    <a class="dropdown-item child_option" href="javascript:void(0);" *ngFor="let col of item.value;"
                       [class.selected]="col.selected == true" (click)="click_item($event, col)">
                        <span>{{col.name}}</span>
                    </a>
                </div>
            </div>
            <div *ngIf="type == 'select_dropdown_single'">
                <a class="dropdown-item" href="javascript:void(0);">
                    <span>{{item.name}}</span>
                </a>
                <div *ngIf="isArray(item.value)">
                    <a class="dropdown-item child_option" href="javascript:void(0);" *ngFor="let col of item.value;"
                       [class.selected]="col.selected == true" (click)="click_item($event, col)">
                        <span>{{col.name}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>