<form class="form-inline pull-xs-right" style="font-size: 14px">
    <ul class="nav pull-right cart_div" (click)="goToCart()">
        <!--<div id="in_cart_total" class="badge" style="position: absolute;">0</div>-->
        <span class="tag tag-pill tag-success" style="position: absolute;">{{cart.get_quantity()}}</span>
        <li class="login">
            <div>
                <span class="name">My Cart</span>
                <div>Total:
                    <span class="highlighted-color text-success" id="in_cart_summ">${{cart.getSum() | numeric:{type: 'decimal', value: 2} }}</span>
                </div>
            </div>
        </li>
        <li class="divider-vertical" style="margin:0 20px 0 20px !important;"></li>
    </ul>
</form>