.padding-top-10 {
    padding-top: 10px;
}

.padding-3 {
    padding: 3px;
}

.filter-name {
    font-size: 14px;
    margin: 0px 0 2px 0;
    font-weight: 600;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.background-gray {
    background-color: #eaeaea;
}

.inline-flex {
    display: inline-flex;
}

.padding-top-0 {
    padding-top: 0px !important;
}

.dropdown-button {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    float: none;
    margin: 0 auto;
    color: white !important;
    position: absolute;
}

.dropdown-container {
    text-align: center;
    padding-right: 8%;
}

.vertical-align-inherit {
    vertical-align: inherit;
}

.filters-jumbotron {

    border-bottom: 1px solid #d7d7d7 !important;
    border-radius: 0px !important;
}

.filter-styled {
    padding: 0px;
    margin: 0px;
}

.advanced {
    padding-left: 1rem;
}