<div class="card">
    <div class="card-header">
        <a class="btn btn-success" href="/view/seo_expert" target="_blank">
            {{ 'let_seo_expert_tool_select_the_best_links_for_you_ot_manage_your_cmapaign_for' | translate:{hello:
            param} }}
            <span
                    style="font-size: large;"><strong>{{ 'free' | translate:{hello: param} }}!</strong></span>
        </a>
    </div>
    <div class="jumbotron margin-bottom-0 background-gray filters-jumbotron">
        <div class="row padding-top-0">
            <div class="col-md-2">
                <h6 class="filter-name">{{ 'SB Rank' | translate:{hello: param} }}</h6>
                <div class="inline-flex">
                    <filter [name]=" 'sb_from' | translate:{hello: param} " [type]="'select'" [key]="'sb_from'"
                            [selected]="''" [datasource]="'fb_sb_from'" [form]="'fb'" class="padding-3"></filter>
                </div>
                <div class="inline-flex">
                    <filter [name]=" 'sb_to' | translate:{hello: param} " [type]="'select'" [key]="'sb_to'"
                            [selected]="''" [datasource]="'fb_sb_to'" [form]="'fb'" class="padding-3"></filter>
                </div>
            </div>
            <div class="col-md-2 filter-styled">
                <h6 class="filter-name">{{ 'Page Rank' | translate:{hello: param} }}</h6>
                <div class="inline-flex">
                    <filter [name]=" 'pr_from' | translate:{hello: param} " [type]="'select'" [key]="'pr_from'"
                            [selected]="''" [datasource]="'fb_pr_from'" [form]="'fb'" class="padding-3"></filter>
                </div>
                <div class="inline-flex">
                    <filter [name]=" 'pr_to' | translate:{hello: param} " [type]="'select'" [key]="'pr_to'"
                            [selected]="''" [datasource]="'fb_pr_to'" [form]="'fb'" class="padding-3"></filter>
                </div>
            </div>
            <div class="col-md-2 filter-styled">
                <h6 class="filter-name">{{ 'Price' | translate:{hello: param} }}</h6>
                <div class="inline-flex">
                    <filter [name]=" 'price_from' | translate:{hello: param} " [type]="'select'" [key]="'price_from'"
                            [selected]="''" [datasource]="'fb_price_from'" [form]="'fb'" class="padding-3"></filter>
                </div>
                <div class="inline-flex">
                    <filter [name]=" 'price_to' | translate:{hello: param} " [type]="'select'" [key]="'price_to'"
                            [selected]="''" [datasource]="'fb_price_to'" [form]="'fb'" class="padding-3"></filter>
                </div>
            </div>
            <div class="col-md-2">
                <h6 class="filter-name">{{ 'category' | translate:{hello: param} }}</h6>
                <div class="inline-flex" style="padding-top: 4px;">
                    <filter #CategoryFilter [name]="'category' | translate:{hello: param}"
                            [type]="'select_dropdown_group'"
                            [placeholder]="'category' | translate:{hello: param}"
                            [key]="'site_category_id'" [selected]="''" [datasource]="'fb_category'"
                            [form]="'fb'"
                            [multiple]="true">
                    </filter>
                </div>
            </div>
        </div>
        <div class="row advanced padding-top-0" *ngIf="advancedToggle">
            <hr>
            <div class="col-md-3">
                <div class="col-md-12 filter-styled">
                    <h6 class="filter-name">{{ 'country_hosting_location' | translate:{hello: param} }}</h6>
                    <div class="inline-flex">
                        <filter #RegionFilter [name]="'regions' | translate:{hello: param}"
                                [type]="'select_dropdown_group'"
                                [placeholder]="'country_hosting_location' | translate:{hello: param}"
                                [key]="'site_country_id'" [selected]="'en'" [datasource]="'fb_regions'"
                                [form]="'fb'"
                                [is_search]="true"
                                [multiple]="true"
                        >
                        </filter>
                    </div>
                </div>
                <div class="col-md-12 filter-styled">
                    <h6 class="filter-name">{{ 'page_language' | translate:{hello: param} }}</h6>
                    <div class="inline-flex">
                        <filter #RegionFilter [name]="'languages' | translate:{hello: param}"
                                [type]="'select_dropdown_single'"
                                [placeholder]="'languages' | translate:{hello: param}"
                                [key]="'page_language'" [selected]="'en'" [datasource]="'fb_language'"
                                [form]="'fb'"
                                [is_search]="true"
                                [multiple]="true"
                        >
                        </filter>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    <h6 class="filter-name">{{ 'placement_percent' | translate:{hello: param} }}: 0 - 100</h6>
                    <div class="inline-flex">
                        <filter [name]=" 'param_percent' | translate:{hello: param} " [type]="'range-slider-multiple'"
                                [key]="'percent'"
                                [selected]="''" [datasource]="'fb_percent'" [form]="'fb'" class="padding-3"></filter>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6 class="filter-name">{{ 'page_ol' | translate:{hello: param} }}: 0 - 100</h6>
                    <div class="inline-flex">
                        <filter [name]=" 'param_ol' | translate:{hello: param} " [type]="'range-slider-multiple'"
                                [key]="'ol'"
                                [selected]="''" [datasource]="'fb_ol'" [form]="'fb'" class="padding-3"></filter>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6 class="filter-name">{{ 'page_pa' | translate:{hello: param} }}: 0 - 100</h6>
                    <div class="inline-flex">
                        <filter [name]=" 'param_pa' | translate:{hello: param} " [type]="'range-slider-multiple'"
                                [key]="'pa'"
                                [selected]="''" [datasource]="'fb_pa'" [form]="'fb'" class="padding-3"></filter>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6 class="filter-name">{{ 'page_da' | translate:{hello: param} }}: 0 - 100</h6>
                    <div class="inline-flex">
                        <filter [name]=" 'param_da' | translate:{hello: param} " [type]="'range-slider-multiple'"
                                [key]="'da'"
                                [selected]="''" [datasource]="'fb_da'" [form]="'fb'" class="padding-3"></filter>
                    </div>
                </div>
            </div>
            <div class="col-md-2 filter-styled">
                <h6 class="filter-name">{{ 'fb_special' | translate:{hello: param} }}</h6>
                <div class="inline-flex">
                    <filter [name]=" 'fb_special' | translate:{hello: param} " [type]="'select_dropdown_single'"
                            [key]="'fb_special'"
                            [selected]="''" [datasource]="'fb_special'" [form]="'fb'" class="padding-3"
                            [placeholder]="'select_special' | translate:{hello: param}"
                            [multiple]="true"></filter>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown-container"><a class="btn btn-success dropdown-button" (click)="toggleAdvanced()">
        {{ 'advanced' | translate:{hello: param} }}<i
            class="material-icons vertical-align-inherit">{{arrowsAdvancedToggle[advancedToggle]}}</i>
    </a>
    </div>
    <div class="card-block">
        <h4 class="card-title">Find your links</h4>
        <div class="">

            <datatable [name]=" 'find_your_link' | translate:{hello: param} " [datasource]="datasource"
                       [tableKey]="tableKey" [styleClass]="sourceListAvailable['tableClass']"
                       [attachedCustom]="attachedCustom" [fixedHeaders]="true"
                       [watcherComponent]="['table']"
                       [pagination]="links.pagination"
                       [paginationMaxSize]="9"
            ></datatable>

        </div>
    </div>
</div>
