<div class="card card-block">
    <div class="container">
        <div class="row">
            <tabset>
                <tab [active]="true" [heading]="'account_settings' | translate:{hello: param} ">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <h1>{{'edit_registration_data' | translate:{hello: param} }}</h1>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-8">
                                    <form [formGroup]="settingsForm"
                                          (submit)="doLogin(settingsForm, settingsForm.valid)">
                                        <div>
                                            <div class="form-group">
                                                <label>{{'first_name' | translate:{hello: param} }}:</label>
                                                <input type="text" class="form-control" formControlName="user_first_name"
                                                       placeholder="Your Name">
                                            </div>
                                            <div class="form-group">
                                                <label>{{'last_name' | translate:{hello: param} }}:</label>
                                                <input type="text" class="form-control" formControlName="user_last_name"
                                                       placeholder="Your Last Name">
                                            </div>
                                            <div class="form-group">
                                                <label>{{'country' | translate:{hello: param} }}:</label>
                                                <app-inputs [type]="'select_dropdown_single'" [placeholder]=" 'please_select_your_country' | translate:{hello: param} " [datasource]="'fb_regions'" [selected]="user['country']" [eventEmitter]="countryEvent"></app-inputs>
                                            </div>
                                            <div class="form-group">
                                                <label for="user_phone">{{'telephone' | translate:{hello: param}
                                                    }}:</label>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <select name="user_phone_code" formControlName="user_phone_code"
                                                                class="form-control">
                                                            <option *ngFor="let item of phoneCodes" [selected]="item == user.phone_code">+{{item}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text" name="user_phone" id="user_phone" formControlName="user_phone"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>{{'skype_id' | translate:{hello: param} }}:</label>
                                                <input type="text" class="form-control" formControlName="user_skype"
                                                       name="user_skype">
                                            </div>
                                            <div class="form-group">
                                                <label>{{'email' | translate:{hello: param} }}:</label>
                                                <input type="email" class="form-control" formControlName="email">
                                                <span class="help-inline"><small><p>You cannot change your email as this
                                                    is your LinksManagement login in the system. If you want to use
                                                    another email, you will have to create a new account by filling out
                                                    the web form at <a
                                                            href="http://www.linksmanagement.com/view/#sign_up"
                                                            target="_blank">http://www.linksmanagement.com/view/#sign_up</a>
                                                    once again.</p></small></span>
                                            </div>
                                        </div>
                                        <div class="margin-20">
                                            <button type="submit" class="btn btn-primary pull-right">{{'save' |
                                                translate:{hello: param} }}
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <h1>{{'change_your_password' | translate:{hello: param} }}</h1>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-8">
                                    <form [formGroup]="credentialsForm"
                                          (submit)="doChangePassword(credentialsForm, credentialsForm.valid)">
                                        <div class="form-group">
                                            <label>{{'current_password' | translate:{hello: param} }}:</label>
                                            <input type="password" class="form-control"
                                                   formControlName="current_password">
                                        </div>
                                        <div class="form-group">
                                            <label>{{'new_password' | translate:{hello: param} }}:</label>
                                            <input type="password" class="form-control" formControlName="new_password">
                                        </div>
                                        <div class="form-group">
                                            <label>{{'repeat_new_password' | translate:{hello: param} }}:</label>
                                            <input type="password" class="form-control"
                                                   formControlName="repeat_new_password">
                                        </div>
                                        <div class="margin-20">
                                            <button type="submit" class="btn btn-primary pull-right">{{'save' |
                                                translate:{hello: param} }}
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>