<app-nav-bar *ngIf="session.authenticated == true">
</app-nav-bar>
<!--<button (click)="increment()">-->
<!--Increment-->
<!--</button>-->
<!--<span *ngIf="edited">-->
<!--count: {{count}}-->
<!--</span>-->
<div class="container">
    <router-outlet></router-outlet>
</div>
<app-modal></app-modal>
<div *ngIf="session.authenticated == true">
    <addfunds></addfunds>
    <addtocart></addtocart>
    <addproject></addproject>
    <addkeyword></addkeyword>
</div>