<div class="jumbotron background-white">
    <h1 style="font-size: xx-large;">{{ 'buy_links_a_week' | translate:{hello: param} }}<br>
        To Get in The Top 10&nbsp;on Google for Your Keywords</h1>
    <div>
        <div (click)="$event.preventDefault();">
            <app-how-to></app-how-to>
            <button type="button" class="btn btn-warning">Start tutorial</button>
            <button type="button" class="btn btn-warning">Watch Video</button>
            <app-features></app-features>
        </div>
        <div style="font-size:4pt">&nbsp;</div>
        <div>
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="border-top dashboard-op">
                                <div class="card-block">
                                    <h3 class="card-title">FILTERS</h3>
                                    <p class="card-text">Listed below backlink pages are filtered based on&nbsp;
                                        <b style="font-family: arial, sans-serif;">multiple quality criteria</b>
                                        <span style="font-family: arial, sans-serif; font-size: small;">, such as Domain Authority, Page Authority, our own evaluating system</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="border-top dashboard-op">
                                <div class="card-block">
                                    <h3 class="card-title">RESULTS</h3>
                                    <p class="card-text">Listed below backlink pages are filtered based on&nbsp;
                                        <b style="font-family: arial, sans-serif;">multiple quality criteria</b>
                  <span style="font-family: arial, sans-serif; font-size: small;">, such as Domain Authority, Page Authority, our own evaluating system
                    <a href="http://scanbacklinks.com/check_pa_da_moz_rank_pagerank_sb_rank/">SB Rank</a>
                    , presence in Google cache, content uniqueness, etc. Click on the&nbsp;
                  </span>
                                        <strong style="font-family: arial, sans-serif;">Advanced</strong>
                                        <span style="font-family: arial, sans-serif; font-size: small;">' button below.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="border-top dashboard-op">
                                <div class="card-block">
                                    <h3 class="card-title">ORGANIC TRAFFIC</h3>
                                    <p class="card-text">Listed below backlink pages are filtered based on&nbsp;
                                        <b style="font-family: arial, sans-serif;">multiple quality criteria</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="border-top dashboard-op">
                                <div class="card-block">
                                    <h3 class="card-title">GEOGRAPHY</h3>
                                    <p class="card-text">Listed below backlink pages are filtered based on&nbsp;
                                        <b style="font-family: arial, sans-serif">multiple quality criteria</b>
                  <span style="font-family: arial, sans-serif; font-size: small;">, such as Domain Authority, Page Authority, our own evaluating system
                  </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="border-top dashboard-op">
                                <div class="card-block">
                                    <h3 class="card-title">UNIQUE OFFER</h3>
                                    <p class="card-text">Listed below backlink pages are filtered based on&nbsp;
                                        <b style="font-family: arial, sans-serif; ">multiple quality criteria</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="border-top dashboard-op">
                                <div class="card-block">
                                    <h3 class="card-title">TUTORIAL</h3>
                                    <p class="card-text">Listed below backlink pages are filtered based on&nbsp;
                                        <b style="font-family: arial, sans-serif;">multiple quality criteria</b>
                  <span style="font-family: arial, sans-serif; font-size: small;">, such as Domain Authority, Page Authority, our own evaluating system
                    <a href="http://scanbacklinks.com/check_pa_da_moz_rank_pagerank_sb_rank/">SB Rank</a>
                    , presence in Google cache, content uniqueness, etc. Click on the&nbsp;
                  </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-filter></router-filter>