<div class="container">
  <tabset>
      <tab [heading]="'balance' | translate:{hello: param}" [active]="true">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <h1>{{ 'your_balance:' | translate:{hello: param} }} </h1>
                      <div class="col-lg-3">
                          <span>{{ 'project_url' | translate:{hello: param} }}</span>
                          <div class="select-your-projects select-dropdown">
                              <filter [name]="'project_url' | translate:{hello: param}" [type]="'select_dropdown_group'" [placeholder]="'chose_your_poject' | translate:{hello: param}" [key]="'project_id'" [selected]="'en'" [datasource]="'balance_projects'" [form]="'balance'" [relationDisabled]="'keyword_id'" class="padding-3" [is_search]="true">
                              </filter>
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <span>{{ 'keyword' | translate:{hello: param} }}</span>
                          <div class="select-your-keyword select-dropdown">
                              <filter [name]="'keyword' | translate:{hello: param}" [type]="'select_dropdown'" [placeholder]="'chose_your_keyword' | translate:{hello: param}" [key]="'keyword_d'" [selected]="'en'" [datasource]="'balance_keywords'" [form]="'balance'" [disabled]="true" [relationSource]="'project_id'" class="padding-3">
                              </filter>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">
                      <div class="col-lg-3">
                          <span>{{ 'date' | translate:{hello: param} }}</span>
                          <div class="select-your-date select-dropdown">
                              <filter [name]="'date' | translate:{hello: param}" [type]="'datepicker'" [placeholder]="'chose_your_date' | translate:{hello: param}" [key]="'date'" [selected]="'en'" [datasource]="'balance_transfer_time'" [form]="'balance'" class="padding-3">
                              </filter>
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <span>{{ 'transaction_type' | translate:{hello: param} }}</span>
                          <div class="select-transaction-type select-dropdown">
                              <filter [name]="'transaction_type' | translate:{hello: param}" [type]="'select_dropdown_single'" [placeholder]="'chose_your_transaction_type' | translate:{hello: param}" [key]="'codes'" [selected]="'en'" [datasource]="'balance_codes'" [form]="'balance'" class="padding-3">
                              </filter>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="container-balance">
                  <datatable [name]=" 'balance' | translate:{hello: param} " [datasource]="datasource" [tableKey]="tableKey" [styleClass]="sourceListAvailable['tableClass']"></datatable>
              </div>
          </div>
      </tab>
      <tab [heading]="'manage_subscriptions' | translate:{hello: param}">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 col-sm-12 col-lg-8"></div>
              </div>
          </div>
      </tab>
  </tabset>
</div>
