<i *ngIf="source['type'] == 'icon'" class="material-icons not-selected" (click)="emit();">{{icon}}</i>
<input type="checkbox" class="not-selected" *ngIf="source['type'] == 'checkbox'" [checked]="checkInAttached()"
       (change)="emit()">
<div *ngIf="source['type'] == 'radiogroup_two'">
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input{{item}}" #radio_element_first type="radio" name="exampleRadios{{item}}"
                   [checked]="checkInAttached()" (change)="emit(radio_element_first.value)" value="1"
                   checked>
            Perm.
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input{{item}}" #radio_element_last type="radio" name="exampleRadios{{item}}"
                   [checked]="!checkInAttached()" (change)="emit(radio_element_last.value)" value="0">
            Month.
        </label>
    </div>
</div>
<div *ngIf="source['type'] == 'event_with_preview'">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="emit(value)"><i class="material-icons mode_edit">mode_edit</i>
        </button>
      </span>
        <!--<input type="text" class="form-control" disabled [(ngModel)]="value">-->
        <div class="form-control disabled preview" data-toggle="tooltip" data-html="true" title="{{preview.prefix}} <u>{{value}}</u> {{preview.end}}">
            <span *ngIf="this.hasPreview">{{preview.prefix}}</span>
            <a href="">{{value}}</a>
            <span *ngIf="this.hasPreview">{{preview.end}}</span>
        </div>

    </div>
</div>