.not-selected{
    -webkit-user-select: none;
/* user-select -- это нестандартное свойство */

    -moz-user-select: none;
/* поэтому нужны префиксы */

    -ms-user-select: none;
}
.remove_red_eye, .mode_edit{
    margin-left: 0px;
    display: inline-block;
    width: 16px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    height: 16px;
    font-size: 18px;
}
.disabled{
    background-color: #ededed;
}
.preview{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 211px;
    white-space: nowrap;
}