<div class="card card-inverse col-lg-6 offset-lg-3 col-md-8 offset-md-3"
     style="background-color: #333; border-color: #333; color: white">
    <div class="card-block">
        <div class="row">
            <img src="/assets/img/skins/logo_auth.png" class="auth-logo-form">
            <br>
            <div class="col-sm-12">
                <h3 class="card-title text-xs-center">{{ 'forgot_password' | translate:{hello: param} }}: {{ 'step' |
                    translate:{hello: param} }} {{forgotSteps}}</h3>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-1">
                    <div class="form-group">
                        <input type="password" class="form-control" #password style="border: 1px solid #fff;" placeholder="{{'new_password' | translate:{hello:
                        param} }}">
                        <br>
                        <input type="password" class="form-control" #repeatPassword style="border: 1px solid #fff;" placeholder="{{'repeat_new_password' | translate:{hello:
                        param} }}">
                        <br>
                        <span>
                            <button class="btn btn-success pull-right" type="button" (click)="recover(password.value, repeatPassword.value)">{{ 'change_password' |
                                translate:{hello:
                                param} }}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>