<div class="card card-block">
    <div class="container">
        <div class="row">
            <tabset>
                <tab [active]="true" [heading]="'instant_purchase' | translate:{hello: param} ">
                    <ul class="list-group blue row padding-0 margin-0">
                        <li class="list-group-item row margin-0">
                            <div style="float: left;" class="col-md-8">
                                <div class="col-md-6">
                                    <span>{{ 'project_url' | translate:{hello: param} }}</span>
                                    <div class="select-your-projects select-dropdown">
                                        <filter #ProjectFilter [name]="'project_url' | translate:{hello: param}"
                                                [type]="'select_dropdown_group'"
                                                [placeholder]="'chose_your_poject' | translate:{hello: param}"
                                                [key]="'project_id'" [selected]="'en'" [datasource]="'cart_projects'"
                                                [form]="'cart'" [relationDisabled]="'keyword_id'" class="padding-3">
                                        </filter>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <span>{{ 'keyword' | translate:{hello: param} }}</span>
                                    <div class="select-your-keyword select-dropdown">
                                        <filter #KeywordFilter [name]="'keyword' | translate:{hello: param}"
                                                [type]="'select_dropdown'"
                                                [placeholder]="'chose_your_keyword' | translate:{hello: param}"
                                                [key]="'keyword_id'" [selected]="'en'" [datasource]="'cart_keywords'"
                                                [form]="'cart'" [disabled]="true" [relationSource]="'project_id'"
                                                class="padding-3">
                                        </filter>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group btn-group-md pull-right col-md-4" role="group"
                                 aria-label="Large button group">
                                <button type="button" class="btn btn-secondary btn-danger">{{ 'delete' |
                                    translate:{hello: param} }}
                                </button>
                                <button type="button" class="btn btn-secondary btn-success">{{ 'buy' | translate:{hello:
                                    param} }}
                                </button>
                            </div>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <datatable
                                       [name]=" 'find_your_link' | translate:{hello: param} " [datasource]="datasource"
                                       [tableKey]="tableKey" [styleClass]="sourceListAvailable['tableClass']"
                                       [fixedHeaders]="true"
                                       [watcherComponent]="['table']"
                                       [watcherSkipTopPixels]="80"
                                       [attachedCustom]="attachedCustom"
                                       [customHeaders]="sourceListAvailable['customHeaders']"
                                       [checkKeyChanges]="sourceListAvailable['checkKeyChanges']"
                                       [groupByKey]="sourceListAvailable['groupByKey']"
                                       [sumByKey]="sourceListAvailable['sumByKey']"
                                       [massActions]="sourceListAvailable['massActions']"
                                       (massAction)="massActionProcessor($event)"
                                       (sortAction)="actionSort($event)"
                            >
                            </datatable>
                        </div>
                    </div>
                </tab>
                <tab [active]="false" [heading]="'campaigns' | translate:{hello: param} ">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <h1>{{'campaigns' | translate:{hello: param} }}</h1>
                        <div class="container">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                </tab>
                <tab [active]="false" [heading]="'gradual' | translate:{hello: param} ">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <h1>{{'campaigns' | translate:{hello: param} }}</h1>
                        <div class="container">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<changelink #ChangeLink [anchor]="anchor" [projectId]="project" [keywordId]="keyword"></changelink>
<changeLinksGlobal #ChangeLinkGlobal (changeLinks)="changeLinks($event)"></changeLinksGlobal>