<!-- select group -->
<div *ngIf="type == 'select_group'">
    <select #filter class="form-control" (change)="onChange($event)">
        <optgroup *ngFor="let item of valueSelector;" [label]="item.name">
            <option *ngFor="let col of item.value;" [selected]="col.selected == true" [value]="col.value">{{col.name}}
            </option>
        </optgroup>
    </select>
</div>
<!-- /select group -->

<!-- select -->
<div *ngIf="type == 'select'">
    <select #filter class="form-control" (change)="onChange($event)">
        <option *ngFor="let col of valueSelector;" [selected]="col.selected == true" [value]="col.value">{{col.name}}
        </option>
    </select>
</div>
<!-- /select -->

<!-- select -->
<div *ngIf="type == 'range-slider-multiple'">
    <input id="ex{{currentUnixTime}}" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000"
           data-slider-step="5" data-slider-value="[250,450]"/>
</div>
<!-- /select -->


<!-- custom dropdown -->
<div *ngIf="type == 'select_dropdown' || type == 'select_dropdown_group' || type == 'select_dropdown_single'"
     class="dropdown" [class.open]="is_open">
    <button class="btn btn-secondary dropdown-toggle button-dropdown" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown()" [disabled]="disabled">
        {{placeholder_val}}
    </button>
    <div #dropDownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div *ngIf="is_search == true">
            <input type="text" #searchText placeholder="Please search" class="form-control"
                   (keyup)="searchFilter(searchText.value);"/>
        </div>
        <div *ngFor="let item of valueSelector;">
            <div *ngIf="type == 'select_dropdown_group'">
                <a class="dropdown-item" href="javascript:void(0);">
                    <span>{{item.name}}</span>
                </a>
                <div *ngIf="isArray(item.value)">
                    <a class="dropdown-item child_option" href="javascript:void(0);" *ngFor="let col of item.value;"
                       [class.selected]="col.selected == true" (click)="clickItem(col)">
                        <span>{{col.value}}</span>
                    </a>
                </div>
            </div>
            <div *ngIf="type == 'select_dropdown'">
                <div *ngIf="isArray(item.value) && checkRelation(item)">
                    <a class="dropdown-item" href="javascript:void(0);" *ngFor="let col of item.value;"
                       [class.selected]="col.selected == true"
                       (click)="clickItem(col)">
                        <span>{{col.value}}</span>
                    </a>
                </div>
            </div>
            <div *ngIf="type == 'select_dropdown_single'"  [class.selected]="item.selected == true">
                <a class="dropdown-item" href="javascript:void(0);" (click)="clickItem(item)">
                    <span>{{item.name}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /custom dropdown -->

<!-- custom date picker -->
<div *ngIf="type == 'datepicker'" class="dropdown" [class.open]="is_open">
    <button id="{{id}}" class="btn btn-secondary dropdown-toggle button-dropdown" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown()">
        {{placeholder_val}}
    </button>
    <div class="dropdown-menu dropdown-date" aria-labelledby="dropdownMenuButton">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-md-12">From:
                    <input type="text" [textMask]="{mask: mask_date}" class="form-control date-from"
                           value="{{transfer_time_from | amDateFormat:'YYYY/MM/DD'}}"
                           (ngModelChange)="onChangeDate($event)"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">To:
                    <input type="text" [textMask]="{mask: mask_date}" class="form-control date-to"
                           value="{{transfer_time_to | amDateFormat:'YYYY/MM/DD'}}"
                           (ngModelChange)="onChangeDate($event)"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success" (click)="applyFilter($event)">Apply</button>
                    <button class="btn btn-success" (click)="clearFilter($event)">Clear</button>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <!--<div class="filter-date-piker">-->
                    <!--<datepicker [(ngModel)]="transfer_time_from" [showWeeks]="false" [customClass]="customClasses"-->
                                <!--(ngModelChange)="onChangeDate($event)" (click)="is_open = true">-->
                    <!--</datepicker>-->
                <!--</div>-->
                <!--<div class="filter-date-piker">-->
                    <!--<datepicker [(ngModel)]="transfer_time_to" [showWeeks]="false" [customClass]="customClasses"-->
                                <!--(ngModelChange)="onChangeDate($event)" (click)="is_open = true">-->
                    <!--</datepicker>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<!-- /custom date picker -->
