<div class="dropdown" [class.open]="is_open">
    <button
            id="{{id}}"
            class="btn btn-secondary dropdown-toggle button-dropdown"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="toggle_dropdown()"
    >
        {{placeholder}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a
            class="dropdown-item"
            *ngFor="let item of items;"
            href="javascript: void(0);"
            (click)="click_item($event, item)"
            [class.child_option] = "item.parent_id ? true : false"
        >
            <span>{{item.text}}</span>
        </a>
    </div>
</div>