<div class="dropdown" [class.open]="is_open">
    <button
            id="{{id}}"
            class="btn btn-secondary dropdown-toggle button-dropdown"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="toggle_dropdown()"
    >
        {{placeholder}}
    </button>
    <div class="dropdown-menu dropdown-date" aria-labelledby="dropdownMenuButton">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-md-12">From:
                    <input
                            type="text"
                            [textMask]="{mask: mask_from}"
                            [(ngModel)]="model_from"
                            class="form-control date-from"
                            value="{{dt_from | amDateFormat:'YYYY/MM/DD'}}"
                            (ngModelChange)="onChange($event)"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">To:
                    <input
                            type="text"
                            [textMask]="{mask: mask_to}"
                            [(ngModel)]="model_to"
                            class="form-control date-to"
                            value="{{dt_to | amDateFormat:'YYYY/MM/DD'}}"
                            (ngModelChange)="onChange($event)"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success" (click)="applyFilter($event)">Apply</button>
                    <button class="btn btn-success" (click)="clearFilter($event)">Clear</button>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="filter-date-piker" id="date-picker-from">
                    <datepicker
                            [(ngModel)]="dt_from"
                            [showWeeks]="false"
                            [customClass]="customClasses"
                            (ngModelChange)="onChange($event)"
                            (click)="is_open = true"
                    >
                    </datepicker>
                </div>
                <div class="filter-date-piker" id="date-picker-to">
                    <datepicker
                            [(ngModel)]="dt_to"
                            [showWeeks]="false"
                            [customClass]="customClasses"
                            (ngModelChange)="onChange($event)">
                    </datepicker>
                </div>
            </div>
        </div>
    </div>
</div>