<div *ngIf="datasourceExist">
    <div *ngIf="customHeaders == 'customcartpage' && showFixedHeader">
        <customcartpage [specialSource]="specialSource" [style]="makeFixedStyle(-1, 'table', false)"
                        [position]="'fixed'" [extended]="datasource['extended']"
                        [class]="'fixed-header'"></customcartpage>
    </div>
    <table class="{{styleClass}} table table-striped" #table>
        <thead class="thead-inverse">
        <tr #tr>
            <template ngFor let-item [ngForOf]="datasource['headers']" let-i=index>
                <th #th *ngIf="length(item.special) == 0" [ngStyle]="makeWidth(item.width)"
                    [attr.id]="calcSize(th, i)" class="{{item['class']}}">
                    <abbr>
                        {{ item.title | translate:{hello: param} }}
                        <datatable-sort *ngIf="item['sort']" [(ngModel)]="sort[item.column]"
                                        (sortChanged)="changeSort($event)" [column]="item.column"></datatable-sort>
                    </abbr>
                </th>
            </template>
        </tr>
        </thead>
        <template ngFor let-item [ngForOf]="datasource['data']">
            <tr *ngIf="elementsHasField(item)">
                <td [attr.colspan]="length(item)" style="background-color: #ededed; height: 51px; padding: 5px;">
                    <div *ngIf="customHeaders == 'customcartpage'">
                        <customcartpage [specialSource]="item" [style]="" [position]="'relative'"
                                        [class]="'special-header'"></customcartpage>
                    </div>
                </td>
            </tr>
            <tr #trelement style="position: relative;">
                <template ngFor let-row [ngForOf]="item">
                    <td *ngIf="length(row.item['special']) == 0" class="{{row.item['class']}}">
                        {{ (has(row.item, 'value') ? row.item['value'] : '') }}
                        <div *ngIf="has(row.item, 'custom')">
                            <custom-elements [source]="row.item['custom']" [tableKey]="tableKey"
                                             [item]="row.item['valueColumn']"
                                             [value]="row.item['valueCustom']"
                                             [event]="row.item['event']"
                                             [attached]="attachedCustom"
                                             [preview]="row.item['preview']"
                            >
                            </custom-elements>
                        </div>
                    </td>
                </template>
            </tr>
            <tr *ngIf="has(preview, 'column') && preview['type'] == 'link'">
                <td [attr.colspan]="length(item)" *ngIf="preview['type'] == 'link'" class="padding-5">
                    <div class="padding-left-15-color-gary">
                        {{previewPrefix}} <a href="{{item[getItemIndexByHeaderColName('page_url')].item['value']}}"
                                             target="_blank">{{previewMask}}</a> {{previewEnd}}
                    </div>
                </td>
            </tr>
        </template>
    </table>
    <div class="container">
        <div class="row">
            <div class="col-md-7 offset-md-3">
                <pagination [totalItems]="pagination['total']" [(ngModel)]="pagination['current']"
                            [itemsPerPage]="pagination['perPage']" [maxSize]="paginationMaxSize"
                            (pageChanged)="pageChanged($event)" *ngIf="has(pagination,'total')"></pagination>
            </div>
        </div>
    </div>
    <table #headerTable *ngIf="fixedHeaders == true && showFixedHeader" class="{{styleClass}} table table-striped"
           style="position: fixed; z-index: 100"
           [ngStyle]="makeFixedStyle(-1, 'table', true)">
        <thead class="thead-inverse">
        <tr>
            <template ngFor let-item [ngForOf]="datasource['headers']" let-i=index>
                <th *ngIf="length(item.special) == 0" [ngStyle]="makeWidth(item.width)"
                    [attr.width]="getFixedWidth(i, 'th')" class="{{item['class']}}">
                    <abbr>
                        {{ item.title | translate:{hello: param} }}
                        <datatable-sort *ngIf="item['sort']" [(ngModel)]="sort[item.column]"
                                        (sortChanged)="changeSort($event)" [column]="item.column"></datatable-sort>
                    </abbr>
                </th>
            </template>
        </tr>
        </thead>
    </table>
    <hr>
    <div class="container" *ngIf="massActions.length > 0">
        <div class="row">
            <table-mass-action [list]="massActions" (massAction)="changeMassAction($event)"></table-mass-action>
        </div>
    </div>
</div>