.inline-y-scroll-300{
    display: block;
    overflow-y: scroll;
    max-height: 250px;
    width:100%;
}
.padding-left-15-color-gary{
    padding-left: 15px;
    color: grey;
}
.padding-5
{
    padding: 5px;
}