<nav class="navbar navbar-fixed-top navbar-light background-white navbar-light bg-faded" id="nav-bar-component">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard']">
                    <img src="/assets/img/skins/logo_short.jpg">
                </a>
            </li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/dashboard']">Buy Links</a></li>
            <li class="nav-item hide-mobile"><a class="nav-link" [routerLink]="['/buy-links']">Free SEO Expert Tool</a>
            </li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/dashboard']">My Links</a></li>
        </ul>
        <div class="pull-right user_bar" (click)="_toggleSidebar()">
            <ul class="nav pull-right" onclick="">
                <li class="person_div login dropdown pull-right">
                    <div data-toggle="dropdown" role="button" id="drop4" class="show-dropdown dropdown-toggle">
                        <span class="name">{{user.first_name}}</span><b class="caret pull-right"></b>
                    </div>
                    <div>Balance: <span class="highlighted-color text-success" id="user-balance">$0.00</span></div>
                </li>
            </ul>
        </div>

        <app-cart></app-cart>
    </div>
</nav>

<ng2-sidebar [(open)]="_open" position="right" [closeOnClickOutside]="true">
    <app-side-bar></app-side-bar>
</ng2-sidebar>