.user_bar {
    width: 14%;
    float: right;
    margin-left: 2%;
}

.person_div {
    background: url(assets/img/person.jpg) left center no-repeat;
    padding-left: 40px;
    float: right;
}

.nav .login .name {
    font-weight: bolder;
}

.nav .login div {
    color: #666;
}
.show-dropdown
{
    width: 116%;
}