<div class="card card-inverse col-lg-4 offset-lg-4 col-md-8 offset-md-2"
     style="background-color: #333; border-color: #333; color: white" *ngIf="(authStatus || authService.waitAuth) && showAuth">
    <div class="card-block" *ngIf="!is_formToggled && !forgotPassword">
        <div class="row">
            <img src="/assets/img/skins/logo_auth.png" class="auth-logo-form">
            <div class="col-sm-12">
                <h3 class="card-title text-xs-center">{{ 'please_sign_in' | translate:{hello: param} }}</h3>
            </div>
        </div>
        <form [formGroup]="loginForm" (submit)="doLogin(loginForm, loginForm.valid)">
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-1"
                     [class.has-danger]="(loginForm.controls.email.invalid && loginForm.controls.email.touched) || fieldsError.email">
                    <input type="email" id="email" class="form-control" name="email" placeholder="Email address" #email
                           formControlName="email"
                           (keyup)="userCredentials.email=email.value; fieldsError.email = false">
                    <div *ngIf="(loginForm.controls.email.invalid && loginForm.controls.email.touched) || fieldsError.email"
                         class="alert alert-danger">
                        *{{ 'email_is_required' | translate:{hello: param} }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-1"
                     [class.has-danger]="(loginForm.controls.password.invalid && loginForm.controls.password.touched) || fieldsError.password">
                    <input type="password" id="password" class="form-control" #password name="password"
                           placeholder="Password" formControlName="password"
                           (keyup)="userCredentials.password=password.value; fieldsError.password = false">
                    <div *ngIf="(loginForm.controls.password.invalid && loginForm.controls.password.touched) || fieldsError.password"
                         class="alert alert-danger">
                        *{{ 'password_is_required' | translate:{hello: param} }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 offset-sm-1">{{ 'remember_me' | translate:{hello: param} }}</label>
                <div class="col-sm-7">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" id="rememberMe" class="form-check-input" name="rememberMe"
                                   #rememberMe formControlName="rememberMe"
                                   (keyup)="userCredentials.rememberMe=rememberMe.checked">
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-4 col-sm-8 col-lg-12">
                    <button type="submit" class="btn btn-primary pull-right">
                        {{'sign_in' | translate:{hello: param} }}
                    </button>
                    <a class="btn btn-primary" (click)="is_formToggled = true">{{'registration' | translate:{hello:
                        param} }}</a>
                    <br>
                    <a href="javascript:;" (click)="forgotPassword = true">{{'forgot_password' | translate:{hello:
                        param} }}</a>
                </div>
            </div>
        </form>
    </div>
    <div class="card-block" *ngIf="forgotPassword">
        <div class="row">
            <img src="/assets/img/skins/logo_auth.png" class="auth-logo-form">
            <br>
            <div class="col-sm-12" *ngIf="forgotSteps == 1">
                <h3 class="card-title text-xs-center">{{ 'forgot_password' | translate:{hello: param} }}: {{ 'step' |
                    translate:{hello: param} }} {{forgotSteps}}</h3>
            </div>
            <div class="form-group row" *ngIf="forgotSteps == 1">
                <div class="col-sm-10 offset-sm-1">
                    <div class="input-group">
                        <form method="post" action="">
                            <input type="email" class="form-control" #email style="border: 1px solid #fff;" placeholder="Email address">
                        </form>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary btn-success" type="button" (click)="sendRecovery(email.value)">{{ 'forgot' |
                                translate:{hello:
                                param} }}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" *ngIf="forgotSteps == 2">
                <h3 class="card-title text-xs-center">{{ 'Password recovery' | translate:{hello: param} }}</h3>
            </div>
            <div class="form-group row" *ngIf="forgotSteps == 2">
                <div class="col-sm-10 offset-sm-1">
                    <div class="form-group">
                        Your password was just emailed to you from LinksManagement with the subject line: Your link for recover password on LinksManagement.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-block" *ngIf="is_formToggled && !forgotPassword">
        <div class="row">
            <img src="/assets/img/skins/logo_auth.png" class="auth-logo-form">
            <div class="col-sm-12">
                <h3 class="card-title text-xs-center">{{ 'client_registration' | translate:{hello: param} }}</h3>
            </div>
        </div>
        <form [formGroup]="registrationForm" (submit)="doRegister(registrationForm, registrationForm.valid)">
            <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label">{{ 'email' | translate:{hello: param} }}</label>
                <div class="col-sm-8"
                     [class.has-danger]="(registrationForm.controls.reg_email.invalid && registrationForm.controls.reg_email.touched)">
                    <input type="email" id="reg_email" class="form-control" name="email" placeholder="Email" #email
                           formControlName="reg_email"
                           (keyup)="fieldsRegisterError.reg_email = false">
                    <div *ngIf="(registrationForm.controls.reg_email.invalid && registrationForm.controls.reg_email.touched) || fieldsRegisterError.reg_email"
                         class="alert alert-danger">
                        *{{ 'email_is_required' | translate:{hello: param} }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="reg_password" class="col-sm-4 col-form-label">{{ 'password' | translate:{hello: param}
                    }}</label>
                <div class="col-sm-8"
                     [class.has-danger]="(registrationForm.controls.reg_password.invalid && registrationForm.controls.reg_password.touched)">
                    <input type="password" id="reg_password" class="form-control" name="password" placeholder="Password"
                           #password
                           formControlName="reg_password"
                           (keyup)="fieldsRegisterError.reg_password = false">
                    <div *ngIf="(registrationForm.controls.reg_password.invalid && registrationForm.controls.reg_password.touched) || fieldsRegisterError.reg_password"
                         class="alert alert-danger">
                        *{{ 'password_is_not_correct' | translate:{hello: param} }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="reg_password_confirmation" class="col-sm-4 col-form-label">{{ 'password_confirmation' |
                    translate:{hello: param} }}</label>
                <div class="col-sm-8"
                     [class.has-danger]="(registrationForm.controls.reg_password.invalid && registrationForm.controls.reg_password_confirmation.touched)">
                    <input type="password" id="reg_password_confirmation" class="form-control"
                           name="password_confirmation" placeholder="Password confirmation" #password_confirmation
                           formControlName="reg_password_confirmation"
                           (keyup)="fieldsRegisterError.reg_password_confirmation = false">
                    <div *ngIf="(registrationForm.controls.reg_password_confirmation.invalid && registrationForm.controls.reg_password_confirmation.touched) || fieldsRegisterError.reg_password_confirmation"
                         class="alert alert-danger">
                        *{{ 'password_confirmation_is_not_correct' | translate:{hello: param} }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-4 col-sm-8 col-lg-12">
                    <button type="submit" class="btn btn-primary pull-right">
                        {{'register' | translate:{hello: param} }}
                    </button>
                    <a class="btn btn-primary" (click)="is_formToggled = false">{{'sign_in' | translate:{hello: param}
                        }}</a>
                </div>
            </div>
        </form>
    </div>
</div>