<div>
    <div class="row user-profile-prev">
        <div class="col-sm-4 user-img-container"><img src="/assets/img/person.jpg" class="avatar-img"><span
                class="name">{{user.buyer_name}}</span></div>
        <div class="col-sm-8">
            Balance: <span class="tag tag-pill tag-success">$0.00</span>
            <br>
            Status: <span class="tag tag-warning">VIP</span>
            <br>
            <select class="form-control custom-select languageSelector" (change)="setLanguage($event);">
                <option *ngFor="let value of languages" [value]="value.iso" [selected]="value.iso == currentLangIso">
                    {{value.name}}
                </option>
            </select>
        </div>
        <div class="row sidebar-menu">
            <div class="col-sm-12 background-color-white">
                <ul class="list-group">
                    <li class="list-group-item" (click)="toggleAddFunds()">
                        <span class="tag tag-warning tag-pill pull-xs-right">14</span>
                        <a class="nav-link" [routerLink]="['/balance']">Add funds</a>
                    </li>
                    <li class="list-group-item">
                        <span class="tag tag-default tag-pill pull-xs-right">2</span>
                        <a class="nav-link" [routerLink]="['/balance']">Balance</a>
                    </li>
                    <li class="list-group-item">
                        <span class="tag tag-default tag-pill pull-xs-right">1</span>
                        <a class="nav-link" [routerLink]="['/settings']">Account Settings</a>
                    </li>
                    <li class="list-group-item">
                        <span class="tag tag-default tag-pill pull-xs-right">1</span> My Blacklist
                    </li>
                    <li class="list-group-item">
                        <span class="tag tag-default tag-pill pull-xs-right">1</span> Referral Program
                    </li>
                    <li class="list-group-item">
                        <span class="tag tag-default tag-pill pull-xs-right">1</span> Contact Us
                    </li>
                    <li class="list-group-item">
                        <a class="highlighted-color" href="" tabindex="-1" role="menuitem" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>