<div bsModal #addProjectModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="childModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{ 'add_new_promoted_url' | translate:{hello: param} }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div>{{ 'your_promoted_url' | translate:{hello: param} }}</div>
                        <div>
                            <input type="text" class="form-control" value="http://" #project />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" (click)="childModal.hide()">Cancel</button>
                <button class="btn btn-success" (click)="addProject(project.value)">Save</button>
            </div>
        </div>
    </div>
</div>