<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="childModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{ 'select_promoted_url_and_anchor_textel' | translate:{hello: param} }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="row">
                                <button class="btn btn-success" (click)="addProject()">{{ 'add_project' | translate:{hello: param} }}</button>
                            </div>
                            <div class="row">
                                <span>{{ 'project_url' | translate:{hello: param} }}</span>
                                <div class="select-your-projects select-dropdown">
                                    <filter  [name]="'project_url' | translate:{hello: param}" [type]="'select_dropdown_group'" [placeholder]="'chose_your_poject' | translate:{hello: param}" [key]="'project_id'" [selected]="'en'" [datasource]="'addtocart_projects'" [form]="'addtocart'" [relationDisabled]="'keyword_id'" class="padding-3">
                                    </filter>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <button class="btn btn-success" (click)="addKeyword()">{{ 'add_keyword' | translate:{hello: param} }}</button>
                            </div>
                            <div class="row">
                                <span>{{ 'keyword' | translate:{hello: param} }}</span>
                                <div class="select-your-keyword select-dropdown">
                                    <filter [name]="'keyword' | translate:{hello: param}" [type]="'select_dropdown'" [placeholder]="'chose_your_keyword' | translate:{hello: param}" [key]="'keyword_id'" [selected]="'en'" [datasource]="'addtocart_keywords'" [form]="'addtocart'" [disabled]="true" [relationSource]="'project_id'" class="padding-3">
                                    </filter>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-controls-stacked pull-right">
                            <label class="display-inherit">{{ 'placment_options' | translate:{hello: param} }}:</label>
                            <label class="custom-control custom-radio">
                                <input id="radioStacked1" name="radio-stacked" type="radio" (change)="period = false" checked class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{ 'monthly_links' | translate:{hello: param} }}</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="radioStacked2" name="radio-stacked" type="radio" (change)="period = true"  class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{ 'permanent' | translate:{hello: param} }}</span>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input id="checkboxNoFollow" name="nofollow" (change)="nofollow = toggle(nofollow)" [attr.checked]="value ? true : null" type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{ 'no_follow' | translate:{hello: param} }}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="form-group row">
                        <label for="formGroupExampleInput" class="col-xs-4 col-form-label">{{ 'content_before_the_link_optional' | translate:{hello: param} }}</label>
                        <div class="col-xs-8">
                            <input type="text" #prefix class="form-control" (keyup)="previewPrefix = prefix.value" id="formGroupExampleInput" placeholder="Example input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="formGroupExampleInput2" class="col-xs-4 col-form-label">{{ 'anchor_text_of_the_link' | translate:{hello: param} }}</label>
                        <div class="col-xs-8">
                            <input type="text" #mask class="form-control" (keyup)="previewMask = mask.value" id="formGroupExampleInput2" placeholder="Another input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="formGroupExampleInput3" class="col-xs-4 col-form-label">{{ 'content_after_the_link' | translate:{hello: param} }}</label>
                        <div class="col-xs-8">
                            <input type="text" #end class="form-control" (keyup)="previewEnd = end.value" id="formGroupExampleInput3" placeholder="Another input">
                        </div>
                    </div>
                </div>
                <datatable
                        [name]=" 'already_added' | translate:{hello: param} "
                        [datasource]="datasource"
                        [tableKey]="tableKey"
                        [styleClass]="sourceListAvailable['tableClass']"
                        [preview]="sourceListAvailable['preview']"
                        [previewPrefix]="previewPrefix"
                        [previewEnd]="previewEnd"
                        [previewMask]="previewMask"
                ></datatable>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" (click)="childModal.hide()">{{ 'cancel' | translate:{hello: param} }}
                </button>
                <button class="btn btn-success" (click)="addOffers()">{{ 'add_to_catr' | translate:{hello: param} }}</button>
                <button class="btn btn-success">{{ 'buy_now' | translate:{hello: param} }}</button>
            </div>
        </div>
    </div>
</div>