<div class="btn-group mass-actions dropup">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown-na" aria-haspopup="true" aria-expanded="false">
        Mass Actions
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="javascript:;" *ngFor="let item of list" (click)="emitEvent(item['event'])">{{item['name']}}</a>
        <!--<div class="dropdown-divider"></div>-->
    </div>
</div>