.add_funds_payment_icon, .center {
    text-align: center;
}

.padding-right-7px {
    padding-right: 7px;
}

.select-container {
    text-align: center;
    margin: 0 auto;
    max-width: 314px;
}

.left{
    float: left;
}

.visible-input:last-of-type {
    margin-bottom:15px;
}