<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #a1a1a1; text-align: center; color: white;">
                <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title"><i class="material-icons">local_atm</i> Add funds</h3>
            </div>
            <div class="modal-body">
                <div class="row center">
                    <div class="select-container">
                        <h5 class="left">Choose a payment method</h5>
                        <select name="payment-main" #typemain class="form-control" id="payment-main"
                                (change)="changeType('main', typemain['value'])">
                            <option value="-" disabled selected>Chose type of payment</option>
                            <option value="{{i}}" *ngFor="let item of paymentTypes['main']; let i = index">
                                {{item.name}}
                            </option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="row center" *ngIf="has(selectedItem, 'description')">
                    <h5>{{selectedItem['description']}}</h5>
                </div>

                <div class="row center" *ngIf="has(selectedItem, 'text')">
                    <p class="amount-subscribe">
                        {{selectedItem['text']}}
                    </p>
                </div>
                <div class="row center" *ngIf="has(selectedItem, 'name')">
                    <template ngFor let-item [ngForOf]="selectedItem['form']['step'][step]" let-i=index>
                        <div class="select-container row visible-input"
                             *ngIf="item['type'] == 'select' && item['visible']">
                            <h5 class="left">{{item['name']}}</h5>
                            <select class="form-control" [(ngModel)]="item['selected']">
                                <option *ngFor="let option of item['value']" value="{{option['value']}}"
                                        attr.selected="option['value']==item['selected']">{{option['option']}}
                                </option>
                            </select>
                        </div>
                        <button *ngIf="item['type'] == 'button'" class="btn btn-success" value="{{item['value']}}"
                                [class.btn-danger]="item['name'] == 'back'"
                                [class.btn-success]="item['name'] == 'submit' || item['name'] == 'next'"
                                (click)="buttonClick(item['name'])">
                            {{item['name']}}
                        </button>
                        <div class="select-container row visible-input"
                             *ngIf="item['type'] == 'input-text' && item['visible']">
                            <label class="left">{{item['name']}}</label>
                            <input type="text" class="form-control" value="item['type']" [(ngModel)]="item['value']">
                        </div>
                        <div class="select-container row visible-input"
                             *ngIf="item['type'] == 'radio' && item['visible']">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="1" [(ngModel)]="item['value']">
                                {{item['name']}}
                            </label>
                        </div>
                    </template>
                </div>
                <div class="row center" *ngIf="has(selectedItem, 'logo')">
                    <img *ngFor="let item of selectedItem['logo'];" src="/assets/img/add_funds/{{item}}"
                         class="padding-right-7px">
                </div>
            </div>
            <div class="modal-footer">
                <div class="add_funds_payment_icon">
                    <img src="/assets/img/PayPro(600).jpg" alt="">
                    <img src="/assets/img/SecurePayPro(600).jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>