body {
    padding-top: 5rem;
    background: url(assets/img/skins/snow.png);
}

.background-white {
    background-color: #fff !important;
}

.row{
    padding-top: 1rem;
}

.cart_div {
    background: url(assets/img/cart.jpg) left center no-repeat;
    padding: 0 0 0 0px;
    cursor: pointer;
}

.topmnenu_container .nav > li.login:hover {
    background-color: #fff !important;
    font-weight: normal;
    cursor: pointer;
}
.topmnenu_container .nav > li:hover {
    background-color: #96b922;
    text-shadow: none !important;
    font-weight: normal;
}
.topmnenu_container .nav li {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0 !important;
}
li.login{
    position: relative;
    padding-left: 61px;
}
.ng2-sidebar {
    background: white !important;
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
    padding: 0em !important;
}

.list-group-item{
    border-top: 1px solid #ddd;
    border-left: 0px !important;
    border-right: 0px !important;
}

.user-img-container{
    text-align: center;
}

.avatar-img{
    border: 2px solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 42px;
}

.ng2-sidebar ul li:hover{
    background: rgba(214, 214, 214, 0.36);
    cursor: pointer;
}

.user_bar{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.user-profile-prev{
    background: rgb(183, 183, 191);
    margin: 0px;
}

.sidebar-menu{
    margin: 0px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


/*Media*/
@media (min-width: 544px){
    .jumbotron {
        padding: 1em !important;
    }
}

.languageSelector{
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    margin-top: 7px;
    background-color: transparent;
    width: 111px;
    border: 2px solid #fff;
    margin-bottom: 7px;
    height: 32px !important;
    font-size: 14px;
}

.background-color-white
{
    background-color: white;
}

.auth-logo-form{
    position:absolute;
    top:4px;
    margin-left:35%;
    width:120px;
}

.padding-r-l-0
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.width-115
{
    width: 115px !important;
}

.child_option  span {
    margin-left: 20px;
}

.break-word{
    word-break: break-word;
}

.select-dropdown .button-dropdown {
    width: 100%;
    font-size: 14px;
}

.open>.dropdown-menu
{
    width: 100%;
}

.container-balance {
    margin-top: 25px;
}

.tab-content>.active {
    background-color: #fff;
}

.dropdown-date {
    width: 850px !important;
}

.filter-date-piker {
    width: 274px;
    float: left;
    margin-right: 5px;
}

.filter-date-piker .card {
    padding: 10px;
}

.btn-active-datepicker {
    background-color: #bef0ff;
}

/*Media Query Section ================================*/

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .user_bar {
        width: 18% !important;
    }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px)
{
    .hide-mobile { display:none!important; }
    .user_bar {
        width: 22% !important;
    }
}
@media (min-width: 768px) and (max-width: 991px)
{
    table.table th.none, table.table td.none
    {
        display: none;
    }
    table.table td.break-word
    {
        width: 200px;
        word-wrap: break-word;
        display: table-caption;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px)
{
    table.table th.none, table.table td.none
    {
        display: none;
    }
    table.table td.break-word
    {
        width: 200px;
        word-wrap: break-word;
        display: table-caption;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px)
{
    table.table th.none, table.table td.none
    {
        display: none;
    }
    table.table td.break-word
    {
        width: 200px;
        word-wrap: break-word;
        display: table-caption;
    }
}

/*====================================================*/
