<div bsModal #childModal="bs-modal" [config]="{backdrop: 'false'}" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="modal-title">Change Project / Keyword / Anchor</h6>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <span>{{ 'project_url' | translate:{hello: param} }}</span>
                            <div class="select-your-projects select-dropdown">
                                <filter #Project [name]="'project_url' | translate:{hello: param}"
                                        [type]="'select_dropdown_group'"
                                        [placeholder]="'chose_your_poject' | translate:{hello: param}"
                                        [key]="'project_id'"
                                        [selected]="''" [datasource]="'change_in_cart_global_projects'" [form]="'change_in_cart_global'"
                                        [relationDisabled]="'keyword_id'" class="padding-3">
                                </filter>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <span>{{ 'keyword' | translate:{hello: param} }}</span>
                            <div class="select-your-keyword select-dropdown">
                                <filter #Keyword [name]="'keyword' | translate:{hello: param}"
                                        [type]="'select_dropdown'"
                                        [placeholder]="'chose_your_keyword' | translate:{hello: param}"
                                        [key]="'keyword_id'"
                                        [selected]="''" [datasource]="'change_in_cart_global_keywords'" [form]="'change_in_cart_global'"
                                        [disabled]="true" [relationSource]="'project_id'" class="padding-3">
                                </filter>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="anchor">Anchor</label>
                            <input type="text" class="form-control" id="anchor" #Anchor
                                   aria-describedby="anchorHelp"
                                   placeholder="Enter anchor" >
                            <small id="anchorHelp" class="form-text text-muted">
                                Please be careful with the changes.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" (click)="change()">Update</button>
            </div>
        </div>
    </div>
</div>